# Build dirs
build/
build-*/
cmake-build-*/


# Qt Creator user files
*.pro.user
*.pro.user.*
CMakeLists.txt.user
*.user

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
.ninja_deps
.ninja_log
build.ninja

# Qt autogen
*_autogen/
qtcsettings.cmake
.autosave
.qtcreator/

# Binaries
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.so
*.pdb