# —компилированные файлы
*.exe
*.a
*.o
*.obj
*.so
*.dll
*.lib

# ѕапки сборки
bin/
obj/
build/

# ‘айлы Code::Blocks (проекты и рабочее пространство Ч оставл€ем, но можно не исключать, они нужны)
# *.cbp
# *.workspace

# ¬ременные файлы
*.log
*.tmp
*.swp

# ѕапка .vs (если пользуетесь Visual Studio)
.vs/

# ‘айлы пользовательских настроек Code::Blocks
*.depend
*.layout